body {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(vs.jpeg) no-repeat fixed center;
    background-size: 100% 100%;
}

main {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #b0413e;
    margin: 0 0 5px;
}

.page-subtitle {
    margin-top: 5px;
    color: #eeeeee;
}

i {
    position: relative;
    width: auto;
    color: #fff;
}

input {
    padding: 3px;
    border-radius: 9px;
    opacity: 90%;
    border: 1px solid white;
    outline: none;
    background: #5e81a1;
}

input::placeholder {
    color: #fff;
}

select {
    padding: 3px;
    border-radius: 9px;
    border: 0;
    outline: none;
    opacity: 90%;
    background-color: #efc538;
    opacity: 95%;
}

select:focus {
    background-color: #c55e5c;
}

option:disabled {
    background-color: #fff;
}

button {
    margin-left: 15px;
    border-radius: 9px;
    border: 0;
    padding: 3px;
    width: 10vh;
    background-color: #efc538;
    transition: 150ms ease-in-out;
    opacity: 95%;
}

button:hover {
    background-color: #c55e5c;
    transition: 0.5s;
    transform: scale(1.06);
    cursor: pointer;
}

.comic-publisher {
    margin-top: 40px;
    color: #f1b216;
}

body>img {
    margin: 0 10px;
}

img {
    max-height: 350px;
}

.trailer-button {
    width: fit-content;
    border-radius: 7px;
    align-self: flex-start;
    position: relative;
}

.container {
    position: relative;
    margin: 5px;
    width: fit-content;
    height: fit-content;
    transition: 150ms ease-in-out;
    background-color: #5e81a1;
}

.container .trailer-button {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -45%);
    text-align: center;
    opacity: 0;
}

.container:hover {
    transform: scale(1.05);
}

.container:hover button {
    opacity: 1;
}

::-webkit-scrollbar {
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background-color: #fffa;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #000a;
    border-radius: 10px;
}

.container img {
    display: block;
    width: fit-content;
    height: fit-content;
}

#block-dc,
#block-marvel {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin-left: 25px;
    margin-right: 25px;
}

#block-dc .container,
#block-marvel .container {
    display: grid;
    /*overflow: hidden;*/
    scroll-behavior: smooth;
}

.personal-logo {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 7px;
}

.personal-logo:hover {
    width: 70px;
    transition: 0.5s;
}